div.winery-container {
  margin-bottom: 2%;
  margin-left: 2%;
  float:left;
}

img.winery-image {
  max-width: 70;
  max-height: 70;
}

div.winery-data-container {
  overflow: hidden;
}

div.winery-logo-container {
  float: left;
}

div.winery-name-container {
  float: left;
}

.winery-name {
  color: #41433D;
}


div.wine-data-container {
  overflow: hidden;

}

div.wine-img-container {
  margin-left: 25%;
  width: 200px;
  height: 200px;

}

.carousel-control {
  top: 100px;
  bottom: 100px;
  width: 5%;
}

.glyphicon {
  color: #D5CFD3;
}

img.wine-img {
  max-height: 200px;
  max-width: 200px;
}

div.wine-name-container {
  margin-left: 20%;
}

div.wine-left-side-container {
  float: left;
}

.wine-name {
  color: #492D44;
}

div.wine-right-side-container {
  float: left;
  width: 250px;
  margin-left: 5%;
}
