<div (mouseenter)="onMouseOver()" (mouseleave)="onMouseOut()" class="w-col w-col-6">
    <div class="winery-data-container">
        <div class="winery-logo-container">
            <img class="winery-image" [src]="_winery.image" width="70" height="70">
        </div>
        <div class="winery-name-container">
            <h3 class="winery-name">{{_winery.name}}</h3>
        </div>
    </div>
    <div class="wine-data-container">

        <div [id]="_winery.id" class="carousel slide" data-interval="false">

            <!-- Wrapper for slides -->
            <div class="carousel-inner">

                <div class="item" [class.active]="i==0" *ngFor="let wine of _winery.wines; let i = index">
                    <img class="wine-img" [src]="wine.image" width="200" height="200">
                    <div class="carousel-caption">
                        <h4 class="wine-name">{{wine.name}}</h4>
                        <!--    <p>LA is always so much fun!</p> -->
                    </div>
                </div>

            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" [href]="'#' + _winery.id" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" [href]="'#' + _winery.id" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>
</div>
