.heading {
  float: left;
  position: relative;
  bottom: 35px;
}

.first-input {
  margin-left: 10%;
}

.search-input-text {
  width: 20%;
  float: left;
}

.blackish-style {
  height: 45px;
  font-size: 15px;
}
