<div class="search-elements-container">
    <form>
        <div class="input-group search-input-text first-input">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input #search id="where" type="text" class="form-control" name="where" placeholder="Dove">
        </div>
        <div class="input-group search-input-text">
            <span class="input-group-addon"><i class="glyphicon glyphicon-glass"></i></span>
            <input id="type" type="text" class="form-control" name="type" placeholder="Sia rossi che bianchi">
        </div>
    </form>
</div>
