/* You can add global styles to this file, and also import other style files */

img {
    border: 0 none;
}
svg:not(:root) {
    overflow: hidden;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}
td, th {
    padding: 0;
}

* {
    box-sizing: border-box;
}

img {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
}
html.w-mod-touch * {
    background-attachment: scroll !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 10px;
}
h1 {
    font-size: 38px;
    line-height: 44px;
    margin-top: 20px;
}
h2 {
    font-size: 32px;
    line-height: 36px;
    margin-top: 20px;
}
h3 {
    font-size: 24px;
    line-height: 30px;
    margin-top: 20px;
}
h4 {
    font-size: 18px;
    line-height: 24px;
    margin-top: 10px;
}
h5 {
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
}
h6 {
    font-size: 12px;
    line-height: 18px;
    margin-top: 10px;
}
p {
    margin-bottom: 10px;
    margin-top: 0;
}

ul, ol {
    margin-bottom: 10px;
    margin-top: 0;
    padding-left: 40px;
}
.w-list-unstyled {
    list-style: outside none none;
    padding-left: 0;
}
.w-embed::before, .w-embed::after {
    content: " ";
    display: table;
}
.w-embed::after {
    clear: both;
}
.w-video {
    padding: 0;
    position: relative;
    width: 100%;
}
.w-video iframe, .w-video object, .w-video embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}
button, html input[type="button"], input[type="reset"] {
    border: 0 none;
    cursor: pointer;
}
.w-form {
    margin: 0 0 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.w-input, .w-select {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    color: #333333;
    display: block;
    font-size: 14px;
    height: 38px;
    line-height: 1.42857;
    margin-bottom: 10px;
    padding: 8px 12px;
    vertical-align: middle;
    width: 100%;
}
.w-input:-moz-placeholder, .w-select:-moz-placeholder {
    color: #999;
}
.w-input::-moz-placeholder, .w-select::-moz-placeholder {
    color: #999;
    opacity: 1;
}
.w-input:focus, .w-select:focus {
    border-color: #3898ec;
    outline: 0 none;
}
.w-input[disabled], .w-select[disabled], .w-input[readonly], .w-select[readonly], fieldset[disabled] .w-input, fieldset[disabled] .w-select {
    background-color: #eeeeee;
    cursor: not-allowed;
}
textarea.w-input, textarea.w-select {
    height: auto;
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}
.w-container::before, .w-container::after {
    content: " ";
    display: table;
}
.w-container::after {
    clear: both;
}
.w-container .w-row {
    margin-left: -10px;
    margin-right: -10px;
}
.w-row::before, .w-row::after {
    content: " ";
    display: table;
}
.w-row::after {
    clear: both;
}
.w-row .w-row {
    margin-left: 0;
    margin-right: 0;
}
.w-col {
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    width: 100%;
}
.w-col .w-col {
    padding-left: 0;
    padding-right: 0;
}
.w-col-1 {
    width: 8.33333%;
}
.w-col-2 {
    width: 16.6667%;
}
.w-col-3 {
    width: 25%;
}
.w-col-4 {
    width: 33.3333%;
}
.w-col-5 {
    width: 41.6667%;
}
.w-col-6 {
    width: 50%;
}
.w-col-7 {
    width: 58.3333%;
}
.w-col-8 {
    width: 66.6667%;
}
.w-col-9 {
    width: 75%;
}
.w-col-10 {
    width: 83.3333%;
}
.w-col-11 {
    width: 91.6667%;
}
.w-col-12 {
    width: 100%;
}
.w-col-13 {
	width: 30%;
}
.w-col-14 {
	width: 70%;
}

.w-col-15 {
  width: 65%;
}

.w-col-16 {
  width: 35%;
}

.w-hidden-main {
    display: none !important;
}
