.header {
  height: 30%;
  width: 100%;
}

div.home {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 1, 0));
  position: fixed;
  z-index: 10;
  height: 10%;

}

div.logo-container {
  margin-left: 0.5%;
}

.logo-img {
  margin-top: 1%;
  margin-left: 1%;
  float: left;
}

ul {
  list-style-type:none;
  margin-left: 70%;
  margin-top: 0.5%;
}

ul.home {
  margin-left:60%;
  margin-top: 0%;
}

li {
  display:table-cell;
  padding:6px;
}

li:focus, li:hover {
  cursor: pointer;
}

li.home {
  color: white;
  font-size: 18px;
  margin-left: 6%;
/*
  border-radius: 2px;
  border: solid 1px white;
  padding: 0;
  */
}
